################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.opendb
*.db-wal
*.db
*.db-shm
